<div class="main-container container text-center col-8">
  <section class="row gx-5">
    <section class="col">
      <img class="content-image" src="./static/images/dishes1.jpg" />
    </section>
    <section class="content-text col">
      <h1>Welcome!</h1>
      <p>Please check out all the cool recipes!</p>
      <p>If you want to see a cooking course, click the courses page and explore!</p>
      <p>You can subscribe here! Soon, you'll be cooking in your home.</p>
    </section>
  </section>
</div>