<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>Recipe App</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>

  <body>
    <header>
      <%- include("./partials/header.ejs"); %>
    </header>

    <main>
      <%- include(`./partials/${page}.ejs`); %>
    </main>

  </body>

</html>