* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 200px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 20px solid #6b7cc5;

  .title {
    color: #615a57;
    font-size: 40px;
    font-weight: 900;
    font-family: PatuaOne;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
  }

  .btn.btn-secondary {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: #3c45ad;
  }
}

@font-face {
  font-family: 'Calistoga';
  src: url('../font/Calistoga-Regular.ttf');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('../font/PatuaOne-Regular.ttf');
}